---
import { base } from '../../lib/url';
---

<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content={`0;url=${base}`} />
		<link rel="canonical" href={base} />
		<title>whthlog</title>
	</head>
	<body>
		<a href={base}>whthlog 홈으로</a>
	</body>
</html>
